inputs:
- name: source

outputs:
- name: source

platform: linux
params:
    IS_CI: true
    GOOGLE_PLAY_PRIVATE_KEY: ((apiary-android-secrets.google-play-private-key))
    KEYSTORE_BASE_64: ((apiary-android-secrets.apiaryMobileJks))
run:
    dir: source
    args:
    - -exc
    - |
        printf '%s' $KEYSTORE_BASE_64 | base64 -d > apiary-mobile.jks

        bundle exec fastlane uploadToInternalTest jksPath:"$(pwd)/apiary-mobile.jks" signingStorePassword:"((apiary-android-secrets.signingKeyPassword))" signingKeyAlias:"apiary-mobile-upload-key" signingKeyPassword:"((apiary-android-secrets.signingKeyPassword))"
    path: sh
