inputs:
- name: pull-request

outputs:
- name: pull-request

platform: linux
params:
    IS_CI: true
    GOOGLE_PLAY_PRIVATE_KEY: ((apiary-android-secrets.google-play-private-key))
    GITHUB_API_BEARER_TOKEN: (("github.com"/token.token))
run:
    dir: pull-request
    args:
    - -exc
    - |
        export GRADLE_USER_HOME=$(pwd)/.gradle

        bundle exec fastlane uploadToInternalAppSharing pr_number:((.:pull_request_key))
    path: sh