inputs:
- name: source

outputs:
- name: source

platform: linux
params:
    IS_CI: true
run:
    dir: source
    args:
    - -exc
    - |
        export GRADLE_USER_HOME=$(pwd)/.gradle

        chmod u+x gradlew
        echo taplinxKey=((apiary-android-secrets.taplinxKey)) >> local.properties
        echo taplinxOfflineKey=((apiary-android-secrets.taplinxOfflineKey)) >> local.properties
        echo sentryDsn=((apiary-android-secrets.sentryDsn)) >> local.properties

        echo $GEM_HOME

        bundle config set --local path /usr/local/bundle
    path: sh
