inputs:
- name: source

outputs:
- name: source

caches:
- path: source/vendor
- path: source/.gradle

platform: linux
params:
    IS_CI: true
run:
    dir: source
    args:
    - -exc
    - |
        export GRADLE_USER_HOME=$(pwd)/.gradle

        chmod u+x gradlew
        echo taplinxKey=((apiary-android-secrets.taplinxKey)) >> local.properties
        echo taplinxOfflineKey=((apiary-android-secrets.taplinxOfflineKey)) >> local.properties
        echo sentryDsn=((apiary-android-secrets.sentryDsn)) >> local.properties
        
        bundle config set --local path vendor
        gem install bundler:2.3.1
        bundle install --quiet
        wget -q https://github.com/GitTools/GitVersion/releases/download/5.8.1/gitversion-linux-x64-5.8.1.tar.gz
        tar -xf gitversion-linux-x64-5.8.1.tar.gz
    path: sh
