name: Build App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'corretto'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Set up secrets
      run: |
        echo taplinxKey=${{ secrets.TAPLINX_KEY }} >> local.properties
        echo taplinxOfflineKey=${{ secrets.TAPLINX_OFFLINE_KEY }} >> local.properties
        echo sentryDsn=${{ secrets.SENTRY_DSN }} >> local.properties

    - name: Add problem matchers
      run: echo "::add-matcher::.github/matchers.json"

    - name: Build with Gradle
      run: ./gradlew build

    - name: Run detekt
      run: bundle exec fastlane detekt

    - name: Run tests
      run: bundle exec fastlane test

    - name: Upload lint results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: lint-results
        path: |
          **/build/reports/lint-results-debug.html
          **/build/intermediates/lint_intermediate_text_report/debug/lint-results-debug.txt
        if-no-files-found: warn
        retention-days: 1
        compression-level: 9
        overwrite: false
